.sobre {
    width: 80%;
    margin: 0 auto;
    color: white;
}

.barra-divisoria {
    width: 100vw;
    height: 10vh;
    background-color: #D1A63D;
    position: relative;
    left: -152px;
}

.descricao-sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conteudo-container {
    display: flex;
    justify-content: space-between;
}

.imagem-container {
    width: 40%;
    background-color: brown;
}

.imagem-container img {
    width: 100%;
}

.texto-container {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: blueviolet;
}