html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    color: #151618;
    font-family: 'Josefin Sans', sans-serif;
}

.background-inicio {
    background-image: url('../assets/img/inicio-background.png');
}

.conteudo {
    display: flex;
    flex-direction: column;
}

.inicio {
    width: 80%;
    height: 100vh;
    margin: 0 auto;
}

.descricao h1, p {
    margin: 0;
}

.inicio .descricao {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 60px;
    height: 45vh;
    /* background-color: yellowgreen; */
}

.titulo-sessao {
    font-size: 32px;
    font-weight: 600;
}

.citacao {
    font-size: 46px;
}

.frase-inicio {
    font-size: 28px;
    width: 100%;
    font-weight: 300;
}

.botao {
    padding: 8px 18px;
    border-radius: 25px;
    transition: background 1s ease,
    color 1s ease;  
}

.botao:hover {
    cursor: pointer;
    background-color: #151618;
    color: #D1A63D;
}

.btn-tornar-aluno {
    font-size: 18px;
    font-weight: 500;
    background-color: #D1A63D;
    border: none;
    font-weight: 600;
}

.indicadores {
    margin: 100px 0;
    width: 100%;
}

.container {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.subtitulo {
    font-size: 24px;
}

.barra-divisoria {
    width: 100%;
    height: 10vh;
    background-color: #D1A63D;
}