.header {
    height: 10vh;
    display: flex;  
}

.logo {
    width: 220px;
    position: relative;
    left: -45px;
}

.navbar {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.navlist {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

.navItem {
    width: 100px;
    margin: 0 2px;
    text-align: center;
}

a {
    text-decoration: none;
    color: #151618;
    width: 100%;
    transition: color 0.3s ease,
    font-weight 0.3s ease;
}

a:hover {
    color: #D1A63D;
    font-weight: bold;
}

.login {
    background-color: #D1A63D;
    border-radius: 25px;
    width: 15%;
}